h1.about-us {
  margin: 30px;
  font-size: 3em;
  color: #fff;
  text-shadow: -1px 1px 0 #ddd, -2px 2px 0 #c8c8c8, -3px 3px 0 #ccc,
    -4px 4px 0 #b8b8b8, -4px 4px 0 #bbb, 0px 1px 1px rgba(0, 0, 0, 0.4),
    0px 2px 2px rgba(0, 0, 0, 0.3), -1px 3px 3px rgba(0, 0, 0, 0.2),
    -1px 5px 5px rgba(0, 0, 0, 0.1), -2px 8px 8px rgba(0, 0, 0, 0.1),
    -2px 13px 13px rgba(0, 0, 0, 0.1);
}

.about-us-text {
  font-size: 1.5em;
  margin: 30px;
  padding: 30px;
}

.about-us-text a {
  color: #e4c47a;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.541);
}

.about-us-content {
  background-image: linear-gradient(
      rgba(73, 209, 209, 0.74),
      rgba(189, 20, 152, 0.6)
    ),
    url(/img/mountains-sceen.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 80px auto 60px auto;
  border-radius: 20px;
  color: #2c1f00;
  border: 5px solid #e4c47a;
  text-align: center;
  box-shadow: 0px 0px 30px -5px rgb(4, 35, 117);
  font-size: 1.2em;
  padding-bottom: 60px;
}

.about-us-text {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  line-height: 1.5em;
}

.mats-desc {
  background: #00c4cc;
  max-width: 900px;
  margin: 60px auto;
  padding: 30px;
}

.mats-head {
  font-size: 2em;
  text-shadow: -1px 1px 0 #ddd, -2px 2px 0 #c8c8c8, -3px 3px 0 #ccc,
    -4px 4px 0 #b8b8b8, -4px 4px 0 #bbb, 0px 1px 1px rgba(0, 0, 0, 0.4),
    0px 2px 2px rgba(0, 0, 0, 0.3), -1px 3px 3px rgba(0, 0, 0, 0.2),
    -1px 5px 5px rgba(0, 0, 0, 0.1), -2px 8px 8px rgba(0, 0, 0, 0.1),
    -2px 13px 13px rgba(0, 0, 0, 0.1);
}

.mats-desc p {
  color: #523a04;
  border: 4px solid #523a04;
  text-align: left;
  box-shadow: 0 0 0 3px #00c4cc, 0 0 0 5px #523a04;
}

.mats-desc p a {
  background: none;
  color: #fff;
  padding: 0;
  letter-spacing: 0;
  text-decoration: underline;
  font-size: 0.8em;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.541);
  transition: all 0.3s;
}

.mats-desc p a:hover {
  color: #523a04;
  background: #fff;
  padding: 4px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

@media screen and (min-width: 950px) {
  .about-us-content {
    max-width: 900px;
  }
}

@media screen and (max-width: 950px) {
  .about-us-content {
    margin: 80px 30px 60px 30px;
  }
}

@media screen and (max-width: 500px) {
  .about-us-content {
    font-size: 1em;
  }
}

.shop-btn {
  padding: 3px 35px;
  display: block;
  width: 120px;
  margin: 0 auto;
  border-radius: 6px;
  background: #fff;
  text-decoration: none;
  font-size: 2em;
  color: rgba(139, 13, 118, 0.89);
  box-shadow: 0 0 0 3px rgba(139, 13, 118, 0.89), 0 0 0 6px white;
  transition: all 0.4s ease-in-out;
}

.shop-btn:hover {
  background: rgba(139, 13, 118, 0.89);
  box-shadow: 0 0 0 3px white, 0 0 0 6px rgba(139, 13, 118, 0.89),
    0 0 12px 6px rgba(0, 0, 0, 0.75);
  color: white;
  transform: scale(1.2);
}

.about-us--section {
  /* display: flex; */
  margin: 20px auto;
  max-width: 1000px;
}

.about-us--left {
  background: #00c4cc;
  padding: 30px;
  float: left;
}

.about-us--left p {
  max-width: 300px;
  min-width: 250px;
  color: #523a04;
  border: 4px solid #523a04;
  text-align: left;
  box-shadow: 0 0 0 3px #00c4cc, 0 0 0 5px #523a04;
}

.about-us--right {
  display: flex;
  flex-direction: column;
}

.about-us--right img {
  max-width: 350px;
  margin: 0 20px 20px 20px;
  border: 3px solid #523a04;
  box-shadow: -2px 2px 15px -10px #002b2c;
}

@media screen and (max-width: 850px) {
  .about-us--section {
    display: flex;
    flex-direction: column;
  }
  .about-us--left {
    margin-bottom: 50px;
  }
  .about-us--left p {
    max-width: 100%;
  }
  .about-us--right {
    flex-direction: row;
  }
  .about-us--right img {
    max-width: 50%;
  }
}

@media screen and (max-width: 550px) {
  .about-us--section {
    margin: 0;
    padding: 0;
  }
  .about-us--right {
    flex-direction: column;
  }
  .about-us--right img {
    max-width: 90%;
    margin: 20px auto;
  }
  .about-us--left {
    margin: 0 0 20px 0;
    padding: 0;
  }
  .about-us--left p {
    min-width: 180px;
    margin: 0;
    border: none;
    font-size: 0.8em;
    background: #00c4cc;
  }
}

p.lead {
  text-transform: uppercase;
  font-size: 1.6em;
  margin: 0 auto 24px auto;
  box-shadow: 0 0 0 5px #523a04;
}
