.contact-heading {
  font-family: "Acme", sans-serif;
  font-size: 3em;
}

.contact-text {
  font-size: 1.25em;
}

@media screen and (max-width: 750px) {
  .contact-heading {
    font-size: 1.5em;
  }
  .contact-text {
    font-size: 0.9em;
  }
}

.form-group {
  font-family: "Acme", sans-serif;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background: #00c4cc;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 0 0 4px white, 0 0 0 8px #00c4cc,
    0 0 15px 8px rgba(7, 101, 138, 0.5);
}

@media screen and (max-width: 500px) {
  .form-group {
    width: 80%;
    margin: 10px auto;
    padding: 30px 10px;
  }
}

.form-group input {
  border: none;
  box-shadow: none;
}

.form-group input:focus {
  background: salmon;
  color: #fff;
}

legend {
  display: block;
  background-color: #e4c47a;
  height: 20px;
  padding: 5px 10px 12px 10px;
  font-size: 0.85em;
  border-radius: 7px;
  cursor: default;
}

#mybtn {
  display: block;
  padding: 7px 15px;
  background: hsl(266, 78%, 64%);
  color: #e4c47a;
  border-radius: 7px;
  font-family: "Acme", sans-serif;
  font-size: 0.75em;
  box-shadow: 0 0 0 3px #00c4cc, 0 0 0 6px hsl(266, 78%, 64%),
    0 0 12px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

#mybtn:hover {
  background: #fff;
  box-shadow: 0 0 0 3px #00c4cc, 0 0 0 5px white,
    0 0 12px 5px rgba(0, 0, 0, 0.5);
  color: hsl(266, 78%, 64%);
  transform: scale(1.1);
}

#n,
#e {
  margin: 30px;
  font-size: 0.75em;
  border-radius: 8px;
  padding: 7px 15px;
  box-shadow: 0 0 0 3px #00c4cc, 0 0 0 5px white;
}

@media screen and (max-width: 400px) {
  .contact-heading {
    font-size: 1.2em;
  }
  .contact-text {
    line-height: 1.5em;
  }
  .form-group {
    width: 90%;
    box-shadow: none;
  }
  legend {
    display: block;
    font-size: 0.7em;
    padding: 5px 12px;
  }
  #n,
  #e {
    font-size: 0.5em;
    box-shadow: none;
  }
}

.contact-info {
  font-family: "Acme", sans-serif;
  list-style: none;
  text-align: right;
  margin-top: 60px;
  font-size: 1em;
  color: #fff;
  background: linear-gradient(to left, #00c4cc, hsl(266, 78%, 64%));
  padding: 30px 15px 15px 0;
  border-bottom: 3px double #e4c47a;
}

.contact-info :nth-child(3) {
  margin-right: 40px;
}

.contact-info li {
  padding-bottom: 6px;
  letter-spacing: 0.1em;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.contact-info i {
  margin-left: 20px;
  color: #e4c47a;
}
