@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");

#up-arrow {
  position: fixed;
  bottom: 45px;
  right: 10px;
  z-index: 99;
  padding: 15px;
  font-size: 2em;
  color: darkviolet;
  text-shadow: 0 2px 10px #ffffff;
  cursor: pointer;
}

#up-arrow:hover {
  color: #523a04;
}
